---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Yazılar" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.category == "Projects" -%}
          <ul class="tileMe">
            <li>
              <div class="card" style="width: 280px;">
                <img src="./images/doge.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">{{ post.title | escape }}</h2>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{{ post.url | relative_url }}" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            <li>
          </ul>
        {%- endif -%}
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
